.aside-content {
    padding: 24px;
    background-color: #FBFA12;
    align-self: stretch;
    box-shadow: inset -26px 23px 11px -15px rgba(199, 191, 34, 1);
    min-height: 86vh;
    z-index: 3;
}

.aside-content ul {
    list-style: none;
}



.aside-content ul li a {
    text-decoration: none;
    font-size: 24px;
    color: black;
    font-family: 'anakinmonoregular';
    display: inline-block;
    min-height: 40px;
    line-height: 40px;
    vertical-align: middle;
}

.aside-content ul li a:visited {
    text-decoration: none;
    font-size: 24px;
    color: black;
}