.aside-content {
    padding: 24px;
    background-color: yellow;
    align-self: stretch;
}

.aside-content ul {
    list-style: none;
}

.aside-content ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;

}