.card {
    width: 200px;
    height: 300px;
    background-color: rgb(148, 148, 148);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__id {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

}